.internal-navbar {
  background-color: #343a40;
  padding: 1rem;
}

.internal-navbar .internal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 120px;
}

@media (max-width: 600px) {
  .internal-navbar {
    padding: 1rem 0;
  }
}
