.anuncio {
  width: 80%;
  margin: 2rem auto;
  padding: 20px;

  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.anuncio h2 {
  text-align: center;
}
.detalhes {
  margin-bottom: 20px;
}
.fotos {
  display: flex;
  justify-content: space-around;
}
.fotos img {
  width: 30%;
  border-radius: 10px;
}
