p {
  margin-bottom: 0.5rem;
}

.detalhes {
  margin-bottom: 1rem;
}

.fotos {
  display: flex;
  flex-direction: column;
}

.fotos img {
  width: 100%;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .fotos img {
    width: 30%;
  }
}
