.go-to-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-to-login-container a {
  margin-right: 12px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.card-footer .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 768px) {
  .go-to-login-container {
    flex-direction: row;
    align-items: end;
  }
}
