.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 16px;
}

.go-to-login-container {
  display: flex;
  align-items: end;
}

a {
  margin-right: 12px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .go-to-login-container {
    flex-direction: column;
    align-items: center;
  }
}
