.ads-container {
  width: 80%;
  margin: 2rem auto;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

.internal-card-body {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.internal-ad-title {
  color: #343a40;
  font-weight: bold;
  padding: 1rem 0 0 1rem;
}

@media (max-width: 600px) {
  .ads-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .internal-card-body {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .internal-card-title,
  .internal-card-text {
    text-align: center;
  }

  .dropup {
    width: 100%;
  }

  .dropup button {
    width: 100%;
    margin-top: 1rem;
  }
}
