.automov-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.automov-container img {
  height: 160px;
}

.automov-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}

.automov-details h1 {
  font-size: x-large;
  color: #007bff;
}

.automov-details div {
  width: 100%;
}

.automov-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.automov-info h3 {
  font-size: large;
  font-weight: bold;
  margin-bottom: 0;
}

.automov-info p {
  font-size: large;
  margin-left: 4px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .internal-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .automov-container {
    flex-direction: row;
  }

  .automov-details {
    margin-top: 0;
    margin-left: 2rem;
  }

  .automov-details h1 {
    width: 100%;
    text-align: left;
  }

  .automov-info {
    justify-content: flex-start;
  }

  .carousel-inner img {
    height: 320px;
  }

  #registro-interesse-carousel {
    width: 50%;
  }
}
